a {
    text-decoration: none;
    color: #000;
}

body {
    /* font-family: 'Righteous', cursive; */
    font-family: 'Old Standard TT', serif;
    background: linear-gradient(to bottom, #2980B9, #6DD5FA, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    border: 2px solid #000;
    /* margin: 50px 100px; */
    background: #fff;
}

.hidden {
    display: none;
}

#query,
.header {
    display: flex;
    justify-content: center;
}

.header {
    padding: 40px 0;
    background: #0f9b0f;
}

#query {
    padding: 28px 0;
    align-items: center;
    background: #5A3F37;
    color: #fff;
}

#js-form {
    margin: 0 20px;
    display: flex;
}

input {
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

label {
    display: flex;
    align-items: center;
}

input:last-child {
    margin-right: 0px;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 30px 0;
}

h3 {
    font-size: 22px;
}

.results-list {
    display: flex;
    flex-direction: column;
}

.error-msg {
    display: none;
}

ul {
    padding: 0 40px;
}

li {
    list-style: none;
    padding: 30px;
    background: #8DC26F;
}

li:nth-child(2n+2) {
    background: white;
}

p {
    padding: 0 30px;
    line-height: 2;
}

p:last-child {
    display: flex;
    justify-content: center;
}