a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Righteous', cursive;
    font-family: 'Old Standard TT', serif;
}

.hidden {
    display: none;
}

#query,
.header {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 22px;
}

.results-list {
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0 40px;
}

li {
    list-style: none;
    padding: 30px;
}

p {
    padding: 0 30px;
    line-height: 2;
}

p:last-child {
    display: flex;
    justify-content: center;
}